name: Compilar y desplegar

on:
  workflow_dispatch: # Ejecución manual independiente
  push: # Evento independiente al mismo nivel que workflow_dispatch
    branches:
      - main
    paths:
      - 'BibliotecaAPI/**'
      - 'BibliotecaAPITests/**'
      - '.github/workflows/compilar-y-desplegar.yml'

env: # Variables de ambientes a usar en el workflow que pueden cambiar. Por ejemplo, la versión de .net
  VERSION_DOTNET: '9'
# AZURE_APP_SERVICE_NOMBRE: aca iria el nombre....
# AZURE_APP_SERVICE_UBICACION_PAQUETE: '.' PARA USAR TODOS LOS DIRECTORIOS


jobs: # 'jobs' debe ir al ras del margen (al mismo nivel que 'on' y 'name')
  build: #porque su trabajo va a ser  compilar
    runs-on: ubuntu-latest
    env:
      proyecto: BibliotecaAPI/BibliotecaAPI.csproj # variable de ambiente que solo sirve para este jobs
      
    steps:  #ESTO SOLO COMPILA, EL DESPLIEGUE NO LO HICE, PORQUE ERA PARA DESPLEGAR EN AZURE. VER VIDEO EN TODO CASO
      - name: Checkout
        uses: actions/checkout@v4.2.2 

      - name: Instalar .NET
        uses: actions/setup-dotnet@v4.3.0
        with:
          dotnet-version: ${{ env.VERSION_DOTNET }}
      - name: Obteniendo las dependencias
        run: dotnet restore
      
      - name: Compilar
        run: dotnet build --no-restore

      - name: Realizar pruebas
        run: dotnet test --no-build
    # ESTO DE ABAJO SERIA PARA PUBLICAR
    # - name: Publicar el Web API
    #   run: dotnet publish $proyecto -c Release -o miapp --runtime win-x86
    # - name: Cargar Artefacto
    #   run: dotnet publish $proyecto -c Release -o miapp --runtime win-x86
    #   uses: actions/upload-artifact@v4.6.0
    #   with:
    #      path: ./miapp
    #      name: build
 # despliegue:  
 #   permissions:
 #      contents:none
 #   runs-on: ubuntu-latest
 #   needs: build 
 #   steps: 
 #     - name: Obtener los artefactos
 #       uses: actions/download-artifact@v4.1.8
 #       with:
 #         name: build
  #     - name: Despliegue al Azure App Service
 #       uses: uses: Azure/webapps-deploy@v2
 #       with:
 #         app-name: ${{ env.AZURE_APP_SERVICE_NOMBRE }}
 #         publish-profile: ${{ secrets.AZURE_PERFIL_PUBLICO }}
 #         package: ${{ env.AZURE_APP_SERVICE_UBICACION_PAQUETE }}
